<%= form_with url: url, model: user do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <% user.errors.full_messages.each do |message| %>
        <div><%= message %> </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "John Smith" %>
    <small id="Username" class="form-text text-muted">What's your name?.</small>
  </div>
  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control", placeholder: "johnsmit" %>
    <small id="Username" class="form-text text-muted">Pick now your awesome unique username.</small>
  </div>
  <div class="form-group">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: "form-control" %>
    <small id="Username" class="form-text text-muted">Upload a picture that everybody can love.</small>
  </div>
  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio , class: "form-control", placeholder: "An awesome guy with Mr. smith hobbies" %>
    <small id="Username" class="form-text text-muted">Tell us more about yourself.</small>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th class="display-4">Social Network links</th>
      </tr>
      <tbody class="fields">
        <%= form.fields_for :networks do |builder|%>
          <%= render partial: "network_fields", locals: {builder: builder} %>
        <% end %>
      </tbody>
  </table>
  <table class='table'>
    <tbody>
      <%= link_to_add_fields "Add Network link", form, :networks, class: "btn-primary btn add_new_field" %> 
    </tbody>
  </table>
  <%= form.submit "Save", class: "btn btn-success btn-lg btn-block" %>

<% end %>
